Flask==3.0.3
Jinja2==3.1.4
Werkzeug==3.0.3
selenium==4.23.1
APScheduler==3.10.4
flask_apscheduler==1.13.1
webdriver_manager==4.0.2
yt-dlp==2024.7.7
Pillow==10.4.0
pdf2image==1.17.0
Flask-Login==0.6.3
numpy==1.24.4
undetected-chromedriver==3.5.5
transformers==4.44.0
pysqlite3==0.5.3
SQLAlchemy==2.0.32
alembic==1.13.2
scikit_image==0.21.0
pyvirtualdisplay==3.0
torch==2.4.0
