{% include 'header.html' %}
<body class="{% block body_class %}{% endblock %}">
    <a href="#main-content" class="skip-link" title="Jump to main area">Skip to main content</a>
    <header>
        {% include 'nav.html' %}
    </header>
    <div id="network-banner" class="network-banner" role="alert" aria-live="polite"></div>

    <main id="main-content" tabindex="-1">
        {% block content %}{% endblock %}
    </main>
    {% from 'components.html' import hotkeys_overlay %}
    {{ hotkeys_overlay() }}

    {% include 'footer.html' %}
</body>
</html>
