<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Glimpser{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>