{% include 'header.html' %}
<body>
    <header>
        {% include 'nav.html' %}
    </header>

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    <div id="cheat-sheet-modal" class="modal">
        <div class="modal-content">
            <span id="cheat-sheet-close" class="close-icon">&times;</span>
            <h3>Keyboard Shortcuts</h3>
            <ul>
                <li>s: Status</li>
                <li>d: Danger</li>
                <li>c: Captions</li>
                <li>l: Live</li>
                <li>k: Settings</li>
                <li>?: Help</li>
            </ul>
        </div>
    </div>
</body>
</html>
