<!-- app/templates/footer.html -->
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <a href="/">
                <img src="{{ url_for('static', filename='img/glimpser_small.png') }}" alt="Glimpser" title="Glimpser">
            </a>
        </div>
        <nav class="footer-nav">
		<a href='https://github.com/KristopherKubicki/glimpser/releases'>v{{VERSION}}</a>
            <a href="/help">Help</a>
            <a href="https://glimpser.net" target="_blank">About</a>
            <a href="https://github.com/KristopherKubicki/glimpser/blob/main/LICENSE.md" target="_blank">License</a>
        </nav>
    </div>
    <div class="footer-copyright">
        <p>&copy; <span id="current-year"></span> Glimpser. All rights reserved.</p>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentYearSpan = document.getElementById('current-year');
        var currentYear = new Date().getFullYear();
        currentYearSpan.textContent = currentYear;
    });
</script>
