<!-- app/templates/footer.html -->
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <!--
            <a href="/">
                <img src="{{ url_for('static', filename='img/glimpser_small.png') }}" loading="lazy" alt="Glimpser" title="Glimpser">
            </a>
            -->
        </div>
        <nav class="footer-nav">
            <span class="footer-copy">&copy; <span id="current-year"></span> Glimpser. All rights reserved.</span>
            <a href='https://github.com/KristopherKubicki/glimpser/releases'>v{{VERSION}}{% if VERSION_OUTDATED %}<span title="Update available">&#9888;</span>{% endif %}</a>
            <a href="/help" title="View help documentation">Help</a>
            <a href="/docs/index.md" title="View documentation">Docs</a>
            <a href="https://glimpser.net" target="_blank" title="Project website">About</a>
            <a href="https://github.com/KristopherKubicki/glimpser/blob/main/LICENSE.md" target="_blank" title="Software license">License</a>
        </nav>
        <div class="footer-build">
            {{ COMMIT_HASH }} - {{ NODE_ENV }}
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentYearSpan = document.getElementById('current-year');
        var currentYear = new Date().getFullYear();
        currentYearSpan.textContent = currentYear;
    });
</script>
