<!-- app/templates/footer.html -->
<footer style="text-align: center; padding: 10px 0; margin-top: 20px; font-size: 14px;">

                <a href='/help'>Help</a>
    <p>&copy; {{ current_year }} Glimpser. All rights reserved.</p>
    <p>For more information, visit <a href="https://glimpser.net" target="_blank">glimpser.net</a></p>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var footer = document.querySelector('footer p:first-child');
        var currentYear = new Date().getFullYear();
        footer.innerHTML = "&copy; " + currentYear + " Glimpser. All rights reserved.";
    });
</script>
