<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glimpser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-d+QeMAyl8RckY6SLlmRu9yckYv12LT4QcQuw2fbfbVzquSeQj0DnI1W6RKssYhh7j8A2Pn6GvmXwFbr1Qr1Zyg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='icons/sprite.svg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if session.get('user_id') %}
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endif %}
</head>

