<!-- app/templates/index.html -->

	{% include 'header.html' %} 

<body>
	<header>
	{% include 'nav.html' %}
	</header>

<div>
    <a href="{{ url_for('new_template') }}" class="btn btn-primary" title="Add a new template">Add New Template</a>
</div>

<div>
    <label for="group-dropdown" title="Filter templates by group">Filter by Group:</label>

    <select id="group-dropdown" title="Select a group to filter templates">
        <!-- Options will be populated here -->
    </select>

    <input type="range" id="grid-width-slider" min="50" max="3840" value="360" onload="this.max = window.innerWidth;" title="Adjust the width of the template grid">
    <button id="play-all" title="Start monitoring all templates">Play All</button>
    <button id="stop-all" title="Stop monitoring all templates">Stop All</button>
</div>

<div id="template-list" title="List of all templates">
    <!-- Template list will be populated here -->
</div>

{% include 'footer.html' %}
</body>
</html>

