{% extends 'base.html' %}
{% block content %}
    <center>
    <div class="login-container" title="Login form">
        <h2>Login Required</h2>
        <form method="post" title="Enter your credentials to log in">
            Username:<br>
            <input type="text" name="username" required title="Enter your username"><br>
            Password:<br>
            <input type="password" name="password" required title="Enter your password"><br><br>

	    {% if flash %}
	    Invalid username or password
	    {% endif %} 
            <input type="submit" value="Login" title="Click to log in">
        </form>
    </div>
        </center>
{% endblock %}

