{% extends 'base.html' %} {% from 'components.html' import card %} {% block
content %}
<div class="login-wrapper">
  {% call card('Sign In') %}
  <form
    id="login-form"
    method="post"
    class="login-form"
    title="Enter your credentials"
  >
    <div class="form-field">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        name="username"
        required
        title="Enter your username"
      />
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        required
        title="Enter your password"
      />
    </div>
    <div id="login-error" class="form-error hidden"></div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <input type="submit" value="Login" title="Click to log in" />
  </form>
  {% endcall %}
</div>
<script
  type="module"
  src="{{ url_for('static', filename='js/login.js') }}"
></script>
{% endblock %}
