
		<h1><a href='/'><img src='{{ url_for('static', filename='img/glimpser_small.png') }}' title='Glimpser'></a></h1>
        <nav>

		{% for ag in active_groups %} 
		<a href='/group/{{ag}}'>{{ag}}</a>
		{% endfor %}

                <a href='/captions' id='captions'>Captions</a>
			

               

                <a href='/live' id='live'>

          
                <div id="coolClock" class="cool-clock" title="Live">
                    <div id="dateDisplay" class="clock-face">
                        <div id="digitalTime" class="clock-hands" title="todo $digitalTime">
                            <div class="hand hour-hand"></div>
                            <div class="hand minute-hand"></div>
                            <div class="hand second-hand"></div>
                        </div>

                    </div>
                </div>
</a>


 <a href='/settings' class="settings-icon" title="Settings">&#9881;</a>

        </nav>

<script>
    function updateCoolClock() {
        const now = new Date();
        const secondsDegrees = (now.getSeconds() / 60) * 360 + 0;
        const minutesDegrees = (now.getMinutes() / 60) * 360 + (now.getSeconds() / 60) * 6 + 0;
        const hoursDegrees = (now.getHours() / 12) * 360 + (now.getMinutes() / 60) * 30 + 0;

        document.querySelector('.second-hand').style.transform = `rotate(${secondsDegrees}deg)`;
        document.querySelector('.minute-hand').style.transform = `rotate(${minutesDegrees}deg)`;
        document.querySelector('.hour-hand').style.transform = `rotate(${hoursDegrees}deg)`;

        document.getElementById('digitalTime').title = now.toLocaleTimeString() + '\n' + Intl.DateTimeFormat().resolvedOptions().timeZone + '\n' + now.toDateString() ;
    }

    setInterval(updateCoolClock, 1000);
    updateCoolClock(); // initial call to display the clock immediately
</script>

