{% extends 'base.html' %}
{% block content %}
    <h2>Live Camera Feed</h2>
    <h2>Live Feed
    </h2>

    <div class="video-container" title="Looping video feed from all cameras">
            <div id="camera-name" class="camera-name" title="Currently playing camera"></div>
        <video id="live-video" controls autoplay muted title="Video player"></video>
    </div>

    <script>
        const cameras = {{ cameras|tojson }};
        let currentCameraIndex = 0;

        function playNextCamera() {
            const videoElement = document.getElementById('live-video');
		const cameraNameElement = document.getElementById('camera-name');
            if (cameras.length > 0) {
                const currentCamera = cameras[currentCameraIndex];
                videoElement.src = `/clip/${currentCamera}`;
                videoElement.load();
                videoElement.playbackRate = 0.25;
                videoElement.play();
		    cameraNameElement.textContent = currentCamera;  
                currentCameraIndex = (currentCameraIndex + 1) % cameras.length;
            }
        }

        document.getElementById('live-video').addEventListener('ended', () => {
            if (currentCameraIndex === 0) {
                // Reload the page when the video roll is done
                window.location.reload();
            } else {
                playNextCamera();
            }
        });

        // Start playing the first camera
        playNextCamera();
    </script>
{% endblock %}

