

{% include 'header.html' %}

<body>
    <header>
        {% include 'nav.html' %}

    </header>

<h1>System Status</h1>

<!-- Display system metrics -->
<h2>System Metrics</h2>
<ul>
    <li>CPU Usage: {{ metrics.cpu_usage }}%</li>
    <li>Memory Usage: {{ metrics.memory_usage }}%</li>
    <li>Disk Usage: {{ metrics.disk_usage }}%</li>
    <li>Open Files: {{ metrics.open_files }}</li>
    <li>Thread Count: {{ metrics.thread_count }}</li>
    <li>Uptime: {{ metrics.uptime }}</li>
</ul>


{% include 'logs.html' %} 


<footer>
{% include 'footer.html' %} 
</footer>

</body>

</html>
